## ignore everything
*

## exept these files
!.config

# Wallpaper
!.config/wp.png

# dunst
!.config/dunst
!.config/dunst/*

# i3
!.config/i3
!.config/i3/*

# i3blocks
!.config/i3blocks
!.config/i3blocks/*

# Picom
!.config/picom
!.config/picom/*

# Ranger
!.config/ranger
!.config/ranger/*

# Termite
!.config/termite
!.config/termite/*

# Scripts
!.scripts
!.scripts/*
!.scripts/test
!.scripts/test/*
!.scripts/statusbar
!.scripts/statusbar/*

# Vim
!.vim
!.vim/autoload
!.vim/autoload/*
!.vimrc

# Bash
!.bash_profile
!.bashrc

# Xinit
!.xinitrc

# Git
!.gitconfig
!.gitignore
!README.md
