## ignore everything
*

## exept these files
!.config

# dwm
!.config/dwm
!.config/dwm/*
.config/dwm/config.h
.config/dwm/config.h.org
.config/dwm/.config.def.h.org
.config/dwm/drw.o
.config/dwm/dwm
.config/dwm/dwm.o
.config/dwm/util.o

# st
!.config/st
!.config/st/*
.config/st/config.h
.config/st/config.h.org
.config/st/config.def.h.org
.config/st/st
.config/st.o
.config/x.o

# Wallpaper
!.config/wp.png

# i3
!.config/i3
!.config/i3/*

# i3blocks
!.config/i3blocks
!.config/i3blocks/*

# Picom
!.config/picom
!.config/picom/picom.conf.v
!.config/picom/picom.conf.c

# Ranger
!.config/ranger
!.config/ranger/*

# Termite
!.config/termite
!.config/termite/*

# Scripts
!.scripts
!.scripts/*

# Vim
!.vim
!.vim/autoload
!.vim/autoload/*
!.vimrc

# Bash
!.bash_profile
!.bashrc

# Xinit
!.xinitrc

# Xresources
!.Xresources

# Git
!.gitconfig
!.gitignore
!README.md
