## ignore everything
*

## exept these files
!.config

# Wallpaper
!.config/wallpaper
!.config/wallpaper/wallpaper.png

# i3
!.config/i3
!.config/i3/*

# i3blocks
!.config/i3blocks
!.config/i3blocks/*

# Picom
.config/picom/picom.conf
!.config/picom
!.config/picom/picom.conf.v
!.config/picom/picom.conf.c

# Ranger
!.config/ranger
!.config/ranger/*

# Termite
!.config/termite
!.config/termite/*

# Scripts
!.scripts
!.scripts/*

# Vim
!.vim
!.vim/autoload
!.vim/autoload/*
!.vimrc

# Bash
!.bash_profile
!.bashrc

# Xinit
!.xinitrc

# Git
!.gitconfig
!.gitignore
!README.md
